@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-copper-100: #ffd0b0;
  --color-copper-300: #e6a972;
  --color-neon-cyan: #0ff;
}

body {
  color: var(--color-copper-100);
}

.neon-text {
  color: var(--color-neon-cyan);
  text-shadow: 0 0 5px var(--color-neon-cyan),
               0 0 10px var(--color-neon-cyan),
               0 0 15px var(--color-neon-cyan),
               0 0 20px var(--color-neon-cyan);
}

.neon-glow {
  filter: drop-shadow(0 0 5px var(--color-neon-cyan))
          drop-shadow(0 0 10px var(--color-neon-cyan));
}

.neon-button-glow:hover {
  filter: drop-shadow(0 0 5px var(--color-neon-cyan))
          drop-shadow(0 0 10px var(--color-neon-cyan));
}

@layer components {
  .btn-copper {
    @apply bg-copper-300 text-black hover:bg-copper-100 transition-colors;
  }
}



@keyframes slow-flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.flashing-arrow {
  animation: slow-flash 2s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem; /* Adjust the size as needed */
}

.arrow-icon {
  width: 2rem; /* Adjust the size as needed */
  height: 2rem; /* Adjust the size as needed */
  fill: var(--color-neon-cyan);
}
